html, body{
  margin: 0px;
  padding: 0px;
  background-color: #24292e;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

p.title {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 375;
  transition: 300ms ease 200ms;
  color: blanchedalmond;
}

p.title:hover {
  color: #878787;
  cursor: pointer;
}

.infotip {
  position: relative;
  box-sizing: border-box;
}

.infotip:after, .infotip:before {
visibility: hidden;
opacity: 0;
position: absolute;
left: 50%;
text-align: center;
box-sizing: border-box;
}

.infotip:after {
content: attr(data-infotip);
background: rgba(0,0,0,0.3);
top: 100%;
margin-top: 22px;
padding: 10px;
color: #ffebcd;
line-height: 1.5;
width: 250px;
margin-left: -125px;
border-radius: 4px;
}

.infotip:before {
content: "";
top: 100%;
margin-top: 12px;
margin-left: -5px;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid rgba(0,0,0,0.5);
}

.infotip:hover:after, .infotip:hover:before {
transition: all 400ms ease 200ms;
visibility: visible;
opacity: 1;
}

.infotip:hover:after {
margin-top: 15px;
}

.infotip:hover:before {
margin-top: 5px;
}
